/*Menu.css*/

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}
.navbar{
    background-color: #333;
    overflow: hidden;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav ul li{
    flex:1;
}
.navbar ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
}
.navbar ul li a:hover{
    background-color: #575757;
}
.content{
    padding: 20px;
    text-align: center;
}