p{
    background-color: aquamarine;
    color:blue;
    font-size:larger;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:brown;
}
ul{
    display:block;
}